<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzqedu.blogbackend.dao.mapper.ArticleMapper">

    <sql id="all">
        id,comment_counts,create_date,
        summary,title,view_counts,
        weight,author_id,body_id,
        category_id
    </sql>

    <select id="listArchives" resultType="com.zzqedu.blogbackend.dao.dos.Archives">
        select from_unixtime(create_date/1000,'%Y') as year,
               from_unixtime(create_date/1000, '%m') as month,
               count(*) as count
        from ms_article
        group by year,month
    </select>

    <!--月份需要用 %c  因为 %m 是 01 02 ... 12-->
    <select id="listArticleWithDate" resultType="com.zzqedu.blogbackend.dao.pojo.Article">
        select <include refid="all"></include>
        from ms_article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="tagId != null">
                and id in (select article_id from ms_article_tag where tag_id = #{tagId})
            </if>
            <if test="year != null and year.length>0 and month != null and month.length>0">
                and from_unixtime(create_date/1000,'%Y') = #{year} and from_unixtime(create_date/1000, '%c') = #{month}
            </if>
        </where>
        order by weight,create_date desc
    </select>

</mapper>
